@use '@/assets/style/config/vars.scss';
@use '@/assets/style/config/media.scss';

.cc-task-filter {
  @include media.print() {
    display: none;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -10px 0;
    padding: 10px 10px 0;
    background-color: rgba(vars.$color-base, vars.$opacity-100);
    @include media.media(phone) {
      padding: 5px 5px 0;
      margin: 0 -5px -5px 0;
    }
  }
  &__list-item {
    margin: 0 10px 10px 0;
    background-color: transparent;
    cursor: pointer;
    transition: border-color vars.$transition-150, color vars.$transition-150;
    border-color: transparent;
    text-transform: uppercase;
    @include media.media(phone) {
      margin: 0 5px 5px 0;
    }
    &:hover {
      border-color: rgba(vars.$color-base, vars.$opacity-300);
    }
    &:active {
      border-color: rgba(vars.$color-base, vars.$opacity-800);
    }
    &_selected {
      border-color: vars.$color-accent;
      color: vars.$color-accent;
    }
  }
}
