@use './config/typography.scss';
@use './config/vars.scss';

// libs
@import 'reset-css';
@import './config/media';
// @import './config/structure';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: auto;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

html { 
  scroll-behavior: smooth; 
}

body {
  @include typography.mm();
  color: vars.$color-base;
  background-color: vars.$color-base;
}
