@use './config/typography.scss';
@use './config/vars.scss';

// libs
@import 'reset-css';
@import './config/medias';
// @import './config/structure';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  @include typography.mt();
  color: vars.$color-base;
  background-color: vars.$color-base;
}
