@use '../config/vars.scss';
@use '../config/typography.scss';
@use '../config/media.scss';

.cc-form {
  &__label {
    display: inline-block;
  }

  &__input {
    height: 30px;
    padding: 5px 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(vars.$color-base, vars.$opacity-500);
    transition: all vars.$transition-150;
    @include typography.mr();
    &:focus {
      outline: 0;
      border-bottom: 1px solid vars.$color-base;
    }
  }
}