@use '../config/vars.scss';
@use '../config/typography.scss';

.cc-title-1 {
  font-size: 32px;
  @include typography.msb();
}

.cc-title-2 {
  font-size: 26px;
  @include typography.msb();
}

.cc-title-3 {
  font-size: 24px;
  @include typography.msb();
}

.cc-text {
  font-size: 18px;
}

.cc-link {
  @extend .cc-text;
  text-decoration: underline;
  color: vars.$color-accent;
  &:hover {
    text-decoration: none;
  }
}
