@use '@/assets/style/config/vars.scss';

.cc-intro-header {
  margin: 75px 0 0;
}

.cc-intro-header__container {
  padding: 40px 50px 40px;
  background-color: vars.$color-pure;
}

.cc-intro-header__title {
  text-align: center;
  margin: 0 0 20px;
}

.cc-intro-header__subtitle {
  text-align: center;
}

.cc-intro-header__header {
  margin: 0 0 40px;
}
