@use '@/assets/style/config/vars.scss';
@use '@/assets/style/config/media.scss';

.cc-task-list {
  &__section {
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(vars.$color-base, vars.$opacity-500);
    @include media.print() {
      border: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
