@use './font-face.scss';

@include font-face.font-face('Montserrat-Thin', '@/assets/font/');
@include font-face.font-face('Montserrat-Regular', '@/assets/font/');
@include font-face.font-face('Montserrat-Medium', '@/assets/font/');
@include font-face.font-face('Montserrat-SemiBold', '@/assets/font/');

@mixin ml {
  font-family: 'Montserrat-Thin', sans-serif;
}

@mixin mr {
  font-family: 'Montserrat-Regular', sans-serif;
}

@mixin mm {
  font-family: 'Montserrat-Medium', sans-serif;
}

@mixin msb {
  font-family: 'Montserrat-SemiBold', sans-serif;
}
